// Color Variables
$primary-color: #4285F4; // Blue
$secondary-color: #26292C; // Gray
$neutral-color: #EEEEEE; // Creamy Gray


// Font Variables
$serif: serif;
$sans-serif: sans-serif;


// Responsive Breakpoint Variables
$break-large: "handheld, only screen and (max-width: 1100px)"; // 1100
$break-mid: "handheld, only screen and (max-width: 867px)";  // 867
$break-small: "handheld, only screen and (max-width: 500px)";  // 500