// Custom
@import 'helpers/helpers';
@import 'base/base';

// Bourbon
@import "bourbon/bourbon";
@import "neat/neat";







// erase this and begin
body{
	background:$neutral-color;
	text-align:center;
	color:white;
}

header{
	background:$primary-color;
	padding:40px 0;
}

footer{
	background:$secondary-color;
	padding:100px 0;
	margin-top:-5px;
}

