body{
	background:$neutral-color;
}

header{
	background:$primary-color;
	color:white;
	padding:40px;
	text-align: center;
}

img{
	width:100%;
}

.wrapper{
	@include outer-container;
	@include clearfix;	

	.box{
		background:rgba(0,0,0, 0.8);
		border:1px solid rgba(0,0,0, 0.9);
		height:150px;
		margin-top:30px;
		@include span-columns(6);
		@include omega(2n);

		@include media($mobile) {
	      @include span-columns(4);
	    }
	}
}