// Color Variables
$primary-color: #4285F4; // Blue
$secondary-color: #26292C; // Gray
$neutral-color: #EEEEEE; // Creamy Gray

// Responsive Breakpoint Variables
$mobile: new-breakpoint(max-width 400px 4);
$tablet: new-breakpoint(max-width 700px 4);
